style for Smiscomments and Smisposts 
 
.userComments {    
  width: 80%;
  background-color: white;
  place-content: center;
  align-items: center; 
}
  
  .post:hover {
    box-shadow: #64646f33 0px 7px 29px 0px;
    cursor: pointer;
  }
 
  .posts {
    width: 65%;
    height: 100px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 100px;
    font-family: Arial, Helvetica, sans-serif;
  
    box-shadow: rgba(81, 76, 76, 0.2) 0px 2px 2px 2px;
  }
  
  .posts .singletitle {
    flex: 20%;
    border-top: 0px solid lightgray;
    display: flex;
    align-items: center;
    padding-left: 15px;
    background-color: rgb(67, 80, 94);
    color: white;
    place-content: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-bottom: 10px;
  }

  .posts .singlebody {
    flex: 20%;
    border-top: 0px solid lightgray;
    display: flex;
    align-items: center;
    padding-left: 15px;
    background-color: rgb(141, 191, 245);
    color: white;
    place-content: center;

    padding-bottom: 30px;
  
  }

  .posts .singlefooter {
    flex: 20%;
    border-top: 1px solid white;
    display: flex;
    align-items: center;
    background-color: rgb(141, 191, 245);
    color: white;
    place-content: center;
    padding-bottom: 9px;
    margin-bottom: 17px;

  }

  h6 {
    text-align: center;
    margin-top: 17px;
  }


  .postToComment {
    flex: 50%;
    height: calc(40vh - 70px);
    display: grid;
    place-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
  }
  
  .commentOnPost {
    flex: 50%;
    height: calc(80vh - 50px);
    display: grid;
    place-items: center;
    display: flex;
    flex-direction: column;
  }

  .commentInput {
    border-radius: 8px;
    border: 1px;
    margin-top: 40px;

  }
  
  .commentbutton {
    background-color: dodgerblue;
    color: white;
    height: 30px;
    margin-left: 15px;
    border-radius: 8px;
    border: dodgerblue;
  }
  
  /* .addCommentContainer textarea {
    border: 2px solid dodgerblue;
    height: 70px;
    width: 350px;
    margin-top: 40px;

  } */


  .listOfComments {
  width: 90%;
  place-content: center;

  flex-direction: column;
  align-items: center;
  padding-left: 199px;

}

.listOfComments .comment {
  width: 80%;
  height: auto;
  padding: 30px;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 5px;
  margin-top: 20px;
}

.delbtn {
  float: right;
}
.formSize {
  width: 82%;
  place-content: center;
  align-items: center; 
  padding-left: 198px;
}

.pt-5{
  background-color: rgb(199, 193, 186);
}

#span {
  color: red;
}